@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #eef0f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box{
    width: 40%;
    padding: 40px;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    text-align: center;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #c9c9c9, -20px -20px 60px #fff;
    display: flex;
    flex-direction: column;
}

.quote-box h3{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h3::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote .loader{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 20px solid #fff;
    border-radius: 50%;
    border-top: 20px solid #03a9f4;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.quote-box span{
    align-self: flex-end;
    position: relative;
}

.quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: -23px;
}

.quote-box span.author-box::before{
    display: none;
}

.btn-box{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box .btn{
    background-color: #03a9f4;
    color: #fff;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 25px;
    border: 1px solid #03a9f4;
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: black;
}

.btn-box .btn img{
    width: 30px;
    margin-right: 4px;
}

@media only screen and (max-width: 1200px){
    .quote-box{
        width: 80%;
    }
}

@media only screen and (max-width: 425px){
    .quote-box{
        width: 90%;
    }
}






